service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime localtime show-timezone year
service timestamps log datetime localtime show-timezone year
service password-encryption
!
hostname {{ item.hostname }}
!
boot-start-marker
boot-end-marker
!
logging buffered 16384
no logging console
enable secret PASSWORD
!
username neteng privilege 15 secret SECRETPASSWORD
aaa new-model
!
!
aaa authentication login default local
aaa authentication login UseLocal local
aaa authorization exec default local 
!
!
!
!
!
!
aaa session-id common
ip routing
!
!
ip domain-name laneconstruct.com
!
mls qos map policed-dscp  0 10 18 24 46 to 8
mls qos map cos-dscp 0 8 16 24 32 46 48 56
mls qos srr-queue output cos-map queue 1 threshold 3 4 5
mls qos srr-queue output cos-map queue 2 threshold 1 2
mls qos srr-queue output cos-map queue 2 threshold 2 3
mls qos srr-queue output cos-map queue 2 threshold 3 6 7
mls qos srr-queue output cos-map queue 3 threshold 3 0
mls qos srr-queue output cos-map queue 4 threshold 3 1
mls qos srr-queue output dscp-map queue 1 threshold 3 32 33 40 41 42 43 44 45
mls qos srr-queue output dscp-map queue 1 threshold 3 46 47
mls qos srr-queue output dscp-map queue 2 threshold 1 16 17 18 19 20 21 22 23
mls qos srr-queue output dscp-map queue 2 threshold 1 26 27 28 29 30 31 34 35
mls qos srr-queue output dscp-map queue 2 threshold 1 36 37 38 39
mls qos srr-queue output dscp-map queue 2 threshold 2 24
mls qos srr-queue output dscp-map queue 2 threshold 3 48 49 50 51 52 53 54 55
mls qos srr-queue output dscp-map queue 2 threshold 3 56 57 58 59 60 61 62 63
mls qos srr-queue output dscp-map queue 3 threshold 3 0 1 2 3 4 5 6 7
mls qos srr-queue output dscp-map queue 4 threshold 1 8 9 11 13 15
mls qos srr-queue output dscp-map queue 4 threshold 2 10 12 14
mls qos queue-set output 1 threshold 1 100 100 50 200
mls qos queue-set output 1 threshold 2 125 125 100 400
mls qos queue-set output 1 threshold 3 100 100 100 400
mls qos queue-set output 1 threshold 4 60 150 50 200
mls qos queue-set output 1 buffers 15 25 40 20
mls qos
password encryption aes
!
!
!
spanning-tree mode rapid-pvst
spanning-tree extend system-id
!
!
!
class-map match-all AUTOQOS_VOIP_DATA_CLASS
  match ip dscp ef 
class-map match-all AUTOQOS_DEFAULT_CLASS
  match access-group name AUTOQOS-ACL-DEFAULT
class-map match-all AUTOQOS_VOIP_SIGNAL_CLASS
  match ip dscp cs3 
!
policy-map AUTOQOS-SRND4-CISCOPHONE-POLICY
 class AUTOQOS_VOIP_DATA_CLASS
   set dscp ef
  police 128000 8000 exceed-action policed-dscp-transmit
 class AUTOQOS_VOIP_SIGNAL_CLASS
   set dscp cs3
  police 32000 8000 exceed-action policed-dscp-transmit
 class AUTOQOS_DEFAULT_CLASS
   set dscp default
  police 10000000 8000 exceed-action policed-dscp-transmit
!
!
!
!
vlan 100
 name STD_DATA
vlan 200
 name STD_VOICE
vlan 300
 name STD_WIFI
vlan 368
 name DOT
vlan 999
 name NATIVE
!
!
{% if item.ports == 24 %}
interface range GigabitEthernet1/0/1 - 22
{%elif item.ports == 48 %}
interface range GigabitEthernet1/0/1 - 46
{% else %}
INVALID NUMBER OF PORTS
{% endif %}
 switchport access vlan 100
 switchport mode access
 switchport voice vlan 200
 srr-queue bandwidth share 1 30 35 5
 priority-queue out 
 mls qos trust device cisco-phone
 spanning-tree portfast
 service-policy input AUTOQOS-SRND4-CISCOPHONE-POLICY
!
{% if item.ports == 24 %}
interface GigabitEthernet1/0/23
{%elif item.ports == 48 %}
interface GigabitEthernet1/0/47
{% endif %}
 description AP01
 switchport trunk native vlan 300
 switchport mode trunk
 switchport nonegotiate
 srr-queue bandwidth share 1 30 35 5
 priority-queue out 
 mls qos trust device cisco-phone
 service-policy input AUTOQOS-SRND4-CISCOPHONE-POLICY
!
{% if item.ports == 24 %}
interface GigabitEthernet1/0/24
{%elif item.ports == 48 %}
interface GigabitEthernet1/0/48
{% endif %}
 description To RT01
 switchport trunk native vlan 999
 switchport mode trunk
 switchport nonegotiate
 srr-queue bandwidth share 1 30 35 5
 priority-queue out 
 mls qos trust device cisco-phone
 service-policy input AUTOQOS-SRND4-CISCOPHONE-POLICY
!
interface Vlan1
 no ip address
 shutdown
!
interface Vlan 100
 ip address {{  item.ipaddress }} 255.255.255.0
!
!
no ip http server
no ip http secure-server
!
ip route 0.0.0.0 0.0.0.0 {{ item.gateway }}
!
ip access-list standard SNMP_ALLOWED
!
ip access-list extended AUTOQOS-ACL-DEFAULT
 permit ip any any
logging host 192.168.100.62
!
snmp-server community comaccess RO 4
snmp-server community private RW 4
snmp-server community LanePublic RO SNMP_ALLOWED
snmp-server community L@neNBAR RW SNMP_ALLOWED
snmp-server location {{ item.siteid }}

